canvas {
    box-sizing: border-box;
    border: 1px solid black;
    width: 95vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
body {
    background-color: black;
}
